html {
  font-size: 16px;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: black;
  background-color: white;
  min-width: 320px;
}

img {
  max-width: 100%;
  height: auto;
}


section {
  padding: 30px 0;
}

a {
  color: #111;
  text-decoration: none;
}

a:hover {
  color: #555;
}

.right {
  margin-right: 100px;
}

.left {
  margin-left: 100px;
}

/*header*/

.navbar-expand-lg .navbar-nav .nav-link {
  color: #111;
  font-weight: 500;
  text-transform: uppercase;
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
  right: 0;
  left: auto;
}

.top-menu .nav-item a::after {
  content: "";
  display: block;
  width: 100%;
  background-color: #111;
  height: 1px;
  transition: all 0.3s;
  transform: scale(0);
}

.top-menu .nav-item a:hover::after {
  transform: scale(1);
}

.modal-body img {
  max-width: 60px;
}

.first td {
  background-color: aquamarine;
}

.second td {
  background-color: bisque;
}

.third td {
  background-color: aquamarine;
}

/*header*/

/*carousel*/

.my-carousel {
  padding: 0;
  width: 1200px;
}

.my-carousel .carousel-item {
  display: flex;
  max-height: 600px;
}

.my-carousel .carousel-item img {
  object-fit: cover;
}

.dropdown-menu li {
  margin-left: 20px;
}

/*carousel*/

/* Product card */

.product-card {
  box-shadow: 3px -2px 13px 11px rgba(162, 217, 138, 0.86);
  -webkit-box-shadow: 3px -2px 13px 11px rgba(162, 217, 138, 0.86);
  -moz-box-shadow: 3px -2px 13px 11px rgba(162, 217, 138, 0.86);
  transition: all 0.3s;
  background-color: bisque;
  padding: 10px;
  border: 2px solid blue;
  border-radius: 20px;
}

.product-card:hover {
  box-shadow: 3px -2px 13px 11px rgba(146, 64, 196, 0.86);
  -webkit-box-shadow: 3px -2px 13px 11px rgba(146, 64, 196, 0.86);
  -moz-box-shadow: 3px -2px 13px 11px rgba(146, 64, 196, 0.86);
}


.product-price {
    font-size: 18px;
    color: blueviolet;
    font-weight: bold;
}

.product-price small {
    text-decoration: line-through;
    color: cadetblue;
    margin-right: 5px;
}

.product-links {
    font-size: 20px;
    margin-left: 10px;
}

.product-links .cart {
    margin-right: 15px;
}

.product-thumb a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    padding: 20px;
    
}

.product-thumb img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 15px;

}

.product-details {
    padding: 20px;
}

.product-details h4 {
    font-weight: 500;
    height: 60px;
    overflow: hidden;
    
}

.product-details p {
    font-size: 12px;
    height: 80px;
    overflow: hidden;
    color: #555;
}

.product-bottom-details {
    overflow: hidden;
    border-top: 1px solid #000;
    padding-top: 20px;
}

/* Product card */


.footer, .footer a {
    background-color: rgb(44, 34, 34);
    color: blue;
}

.footer h4 {
    color: gold;
    text-transform: uppercase;
    font-size: 16px;
    border-bottom: 1px solid grey;
    padding-bottom: 3px;
    margin-bottom: 20px;
}

.footer a {
    
    margin-right: 30px;
    color: white;
    transition: all .3s;
    
    
}
.footer a, .footer li {
    color: rgb(197, 186, 186);
}

.footer li a:hover, .footer a:hover {
    color: yellow;
    text-decoration: underline;
}

.footer-icons {
    font-size: 30px;
}

.footer li a {
    display: block;
}